<html>

<head>
  <title>Certificate of Acheivement</title>
</head>

<body>
  <main>
    <h1>Certificate of Acheivement</h1>
    This certificate is awarded to
    <h1>${fullname}</h1>
    for completion of
    <h2>${project}</h2>
    <div id="signature">
      <img src="data:image/svg+xml;base64,${signature}"><br>
      Terraform101
    </div>
  </main>
  <p>&nbsp;</p>
  <footer>
    Certificate ID #${id} issued on ${date}
  </footer>
</body>

</html>